.root{
    -fx-background-color:lightgrey;
}

#L1{
    -fx-font-size: 25;
    -fx-font-wieght:EXTRA_BOLD;
    -fx-font-family: "tahoma";

}


#btn1{
    -fx-background-color:#AFC7C7;
}
#LL{
    -fx-font-size: 18;
}